/* .flexbox-main{
    background-color: rgb(0, 255, 89);
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

/* /* .flexbox-main > div{

    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 195);
    text-align: center;
}  */
/* @media screen and (min-width: 600px) {
    .flexbox-main{
        background-color: red;
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
    }
    
    .flexbox-main > div{
    
        width: 50px;
        height: 50px;
        background-color: blue;
        box-align: center; */
     
   */ */
  /* *{
    margin: 0;
    padding: 0;
  }

  nav{
    background-color: gray;
    height: 50x;
    width: 100%;
    position: fixed;
  }

  /* ul{
    list-style-type: none;
    display: flex;
    gap: 5%;
  } */

  /* li{
    margin-left: 5%;
  }

  /* div {
    background-color: black;
    height: 15px;
  }
  okk */ */ */

 
  body {
   
    margin: 5%;
    padding: 60%;
    color: blue;
  }

table {
  border-collapse: collapse;
  -o-table-baseline: inherit;
  margin: 55px 10%;
}

table{
  border:3px solid black
}

th{
  padding: 24px;
  text-align: left;
}

.heading-box {
  border: 2px solid black; 
  padding: 10px;
}







